.t2-section{
	.t2-container{
		.form-box{
			width: 100%;
			height: 300px;
			padding: 50px 100px 0 100px;
			background-color: #fff;
			box-shadow: 3px 6px 3px 3px rgba($color: #000000, $alpha: .2);
		}
	}
}