.t2-section{
	.t2-container{
		.form-box{
			width: 100%;
			height: 450px;
			background-color: #fff;
			box-shadow: 3px 6px 3px 3px rgba($color: #000000, $alpha: .2);
			text-align: center;
			h2{
				padding-bottom: 50px;
				padding-top: 50px;
				color: #484848;
			}
			.form-group{
				width: 100%;
				padding: 0 50px 0 50px;
				.form-control{
					margin-bottom: 43px;
				}
			}
		}
	}
}