footer
	.container
		.footer
			.row
				.col-md-3
					.footer-block
						.logo-footer
							img(src="./assets/images/logo.png", alt="")
						figcaption
							h2
								|MY TRAVEL 
							ul.footer-list
								li.nav-item
									|190 Pasteur, Phường 6, Quận 3, TP HCM
								li.nav-item
									|(+84 28) 3822 8898
								li.nav-item
									|(+84 28) 3829 9142
								li.nav-item
									|info@vietravel.com