footer
	.container
		.footer
			.row
				.col-md-3
					.footer-block
						.logo-footer
							img(src="./assets/images/logo.png", alt="")
						ul.footer-list
							li.footer-item
								a(href="")
									|Tuyển dụng
							li.footer-item
								a(href="")
									|Giới thiệu
							li.footer-item
								a(href="")
									|Tin tức
							li.footer-item
								a(href="")
									|Tư vấn