footer
	.container
		.footer
			.row
				.col-md-3
					.footer-block
						.logo-footer
							img(src="./assets/images/logo.png", alt="")
						figcaption
							h2
								|MY TRAVEL 
							ul.footer-list
								li.nav-item
									|190 Pasteur, Phường 6, Quận 3, TP HCM
								li.nav-item
									|(+84 28) 3822 8898
								li.nav-item
									|(+84 28) 3829 9142
								li.nav-item
									|info@mytravel.com
				.col-md-3
					.footer-block
						h2 Khám phá
						ul.footer-list
							li.nav-item
								a.nav-link(href="")
									|Tin cậy và an toàn
							li.nav-item
								a.nav-link(href="")
									|Điểm tích lũy
							li.nav-item
								a.nav-link(href="")
									|Những điều nên trải nghiệm
							li.nav-item
								a.nav-link(href="")
									|Đi công tác
				.col-md-3
					.footer-block
						h2 Đón tiếp khách
						ul.footer-list
							li.nav-item
								a.nav-link(href="")
									|Dịch vụ lưu trú
							li.nav-item
								a.nav-link(href="")
									|Trách nhiệm của chủ nhà
							li.nav-item
								a.nav-link(href="")
									|Tổ chức trải nghiệm
							li.nav-item
								a.nav-link(href="")
									|Đi công tác