header
	.host-marketing-nav
		nav.navbarnavbar-expand-lg
			.nav-brand
				img(src="./assets/images/logo.png", alt="")
			ul.navbar-nav
				.container
					li.nav-item
						a.nav-link(href="/index.html")
							|Tổng quan
					li.nav-item
						a.nav-link(href="/thiet_lap.html")
							|Thiết lập
					li.nav-item
						a.nav-link(href="")
							|An toàn
					li.nav-item
						a.nav-link(href="")
							|Tài chính
				//- .login-signup.ml-auto
				//- 	a(href="").btn
				//- 		|TẠO TÀI KHOẢN	
				//- 	a(href="").btn
				//- 		|ĐĂNG NHẬP
