header
	.host-marketing-nav
		nav.navbar.navbar-expand-lg
			.container
				.nav-brand
					img(src="./assets/images/logo.png", alt="")
				.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item
							a.nav-link(href="")
								|Tổng quan
						li.nav-item
							a.nav-link(href="")
								|Thiết lập
						li.nav-item
							a.nav-link(href="")
								|An toàn
						li.nav-item
							a.nav-link(href="")
								|Tài chính
						a(href="").btn
							|TẠO TÀI KHOẢN	
						a(href="").btn
							|ĐĂNG NHẬP
