header
	.host-marketing
		nav.navbar.navbar-expand-lg
			.container
				.nav-brand
					img(src="./assets/images/logo.png", alt="")
				.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item
							a(href="")
								|Tổng quan
						li.nav-item
							a(href="")
								|Thiết lập
						li.nav-item
							a(href="")
								|An toàn
						li.nav-item
							a(href="")
								|Tài chính
						li.nav-item
							select.flag#flag
								option(value="VN") VN
								option(value="US") US
								option(value="UK") UK
						li.nav-item
							button.btn.btn-info(type="submit")
								|TẠO TÀI KHOẢN	
						li.nav-item
							button.btn.btn-info(type="submit")
								|ĐĂNG NHẬP
