header
	.host-marketing-nav
		nav.navbar.navbar-expand-lg
			.container
				.nav-brand.col-2.col-md-2.col-lg-2
					img(src="./assets/images/logo.png", alt="")
				ul.navbar-nav
					li.nav-item
						a.nav-link(href="/index.html")
							|Tổng quan
					li.nav-item
						a.nav-link(href="/thiet_lap.html")
							|Thiết lập
					li.nav-item
						a.nav-link(href="")
							|An toàn
					li.nav-item
						a.nav-link(href="")
							|Tài chính
				.login-signup
					a(href="").btn
						|TẠO TÀI KHOẢN	
					a(href="").btn
						|ĐĂNG NHẬP
