header
	.host-marketing-nav
		nav.navbar.navbar-expand-lg
			.container
				.nav-brand
					img(src="./assets/images/logo.png", alt="")
					ul.navbar-nav.ml-auto
						//- li.nav-item
						//- 	a.nav-link(href="")
						//- 		|Tổng quan
						//- li.nav-item
						//- 	a.nav-link(href="")
						//- 		|Thiết lập
						//- li.nav-item
						//- 	a.nav-link(href="")
						//- 		|An toàn
						//- li.nav-item
						//- 	a.nav-link(href="")
						//- 		|Tài chính
						li.nav-item
							select.flag#flag
								option(value="VN") VN
								option(value="US") US
								option(value="UK") UK
						li.nav-item
							button.btn.btn-info(type="submit")
								|TẠO TÀI KHOẢN	
						li.nav-item
							button.btn.btn-info(type="submit")
								|ĐĂNG NHẬP
