header
	.host-marketing
		nav.navbar.navbar-expand-lg
			.container
				.nav-brand
					img(src="./assets/images/logo.png", alt="")
				.navbar-collapse
					ul.navbar-nav.ml-auto
						li.nav-item
							select.flag
								option(value="")
									img(src="./assets/images/flag-vn.png", alt="")
						li.nav-item
							button.btn.btn-info(type="submit")
								|Tạo tài khoản	
						li.nav-item
							button.btn.btn-info(type="submit")
								|Đăng nhập	
