extends _components/_layout/_layout.pug

block var
	- let title = 'Thiết Lập';
	- let bodyClass = 'index-page';
	- let titlePosition = ['DỰ ÁN TỐT NGHIỆP'];
block banner,breadcrumb
block main
	include .\_components\thiet-lap\tc-1.pug
	include .\_components\thiet-lap\tc-2.pug
	include .\_components\thiet-lap\tc-3.pug
	include .\_components\thiet-lap\tc-4.pug
	include .\_components\thiet-lap\tc-5.pug
block scripts