section.gt1-sec
	.gioi-thieu-banner
			figure
				img(src="./assets/images/gioithieu/banner-gioithieu.png")
			.container
				.col-12.col-md-6.col-lg-6
						figcaption
							img(src="./assets/images/logo-home.png")
							h1 Travel & Stay
							h2 Trải nghiệm tuyệt vời cho các chuyến đi
							p Đặt phòng khách sạn và vé máy bay cho các chuyến đi chơi và công tác chưa bao giờ dễ dàng hơn thế.
							p Giá cả cạnh tranh, hỗ trợ chuyên nghiệp, hệ thống quản lý hiện đại, nhiều ưu đãi