section.gt3-sec
	
	.container
		.kho-khan
			figcaption
				h1 Bạn gặp khó khăn
				h2 Khi đi du lịch
				.row
					.col-12.col-md-3.col-lg-3
						.box1
							img(src="./assets/images/gioithieu/icon1.png")
					.col-12.col-md-3.col-lg-3
						.box1
							img(src="./assets/images/gioithieu/icon2.png")
					.col-12.col-md-3.col-lg-3
						.box1
							img(src="./assets/images/gioithieu/icon3.png")
					.col-12.col-md-3.col-lg-3
						.box1
							img(src="./assets/images/gioithieu/icon4.png")
				.row
					.col-12.col-md-3.col-lg-3
						.box1
							.text
								h1 Mất thời gian
								p Sắp xếp
								|lên kế hoạch
					.col-12.col-md-3.col-lg-3
						.box1
							.text
								h1 Tốn chi phí
								p Chi phí phát 
								|sinh cho chuyến đi
					.col-12.col-md-3.col-lg-3
						.box1
							.text
								h1 Thiếu công cụ
								p Lên kế hoạch
								|sinh cho chuyến đi
					.col-12.col-md-3.col-lg-3
						.box1
							.text
								h1 Phương tiện đi lại
								p Khó khăn và
								|không đảm bảo
					button.btn.btn-primary(type='submit') Tìm giải pháp ngay
			//- .button
			//- 	p Tìm giải pháp
