section.gt4-sec
	.container
		.gioi-thieu
			.row
				.col-12.col-md-3.col-lg-3
					.box1
						.box1-main
							h3 My Travel
							h5 sẽ giúp bạn

				.col-4.col-md-3.col-lg-3
					.box1
						.box1-top
							h5 1. Tour du lịch
							hr
							p Dễ dàng và thuận tiện
							| Sản phẩm đa dạng
						.box1-bot
							h5 4. Giá cả
							hr
							p Luôn có mức giá tốt nhất
							| Đảm bảo giá tốt
				.col-4.col-md-3.col-lg-3
					.box1
						.box1-top
							h5 2. Khách sạn và chỗ ở
							hr
							p Dễ dàng và thuận tiện
							| Sản phẩm đa dạng
						.box1-bot
							h5 5. Thanh toán
							hr
							p An toàn và linh hoạt
							| Liên kết các tổ chức tài chính
				.col-4.col-md-3.col-lg-3
					.box1
						.box1-top
							h5 3. Taxi
							hr
							p An toàn và linh hoạt
							| Liên kết các tổ chức tài chính
						.box1-bot
							h5 6. Hỗ trợ
							hr
							p Từ 8h00-23h00
							| Hotline và hỗ trợ trực tuyến
