section.gt5-sec
	.doi-tac
		.container
			figcaption
				h1 Đối tác của My Travel
			.swiper-container
				.swiper-wrapper
						.swiper-slide
							figure
								img(src="./assets/images/gioithieu/logo-grab.png")
						.swiper-slide
							figure
								img(src="./assets/images/gioithieu/logo-shopee.png")
						.swiper-slide
							figure
								img(src="./assets/images/gioithieu/logo-viettel.png")
						.swiper-slide
							figure
								img(src="./assets/images/gioithieu/logo-napas.png")
						.swiper-slide
							figure
								img(src="./assets/images/gioithieu/logo-grab.png")
						.swiper-slide
							figure
								img(src="./assets/images/gioithieu/logo-shopee.png")
						.swiper-slide
							figure
								img(src="./assets/images/gioithieu/logo-viettel.png")
						.swiper-slide
							figure
								img(src="./assets/images/gioithieu/logo-napas.png")
						
					.swiper-pagination
					.swiper-button-next
					.swiper-button-prev

