section.gt6-sec
	.lien-he
		.row
			.col-12.col-md-6.col-lg-6
				.box-left
					h3 Tham gia ngay
					p Khám phá trải nghiệm tuyệt vời cho mỗi chuyến đi
					| Để lại thông tin để chúng tôi liên hệ bạn
			.col-12.col-md-6.col-lg-6
				.box-right
					form(method='POST' action='/register')
						div.form-group
							input#name.form-control(type='text', placeholder='Tên:' name='name')
						div.form-group
							input#name.form-control(type='text', placeholder='Email' name='name')
						div.form-group
							input#name.form-control(type='text', placeholder='Số điện thoại' name='name')
						button.btn.btn-primary(type='submit') Nhận tư vấn
//- 		.lien-he
//- 			figure
//- 				img(src="./assets/images/gioithieu/lienhe.png")
//- 			figcaption
//- 				h1 Tham gia ngay