.host-section{
	.host-section-title{
		h2{
			font-size: 32px;
		}
	}
	.welcome-container{
		width: 100%;
		.wel-block{
			position: relative;
			.icon-wel{
				figure{
					width: 100px;
					height: 100px;
					margin: auto;
					img{
						width: 100%;
						height: 100%;
					}
				}
			}
			figcaption{
				p{
					font-size: 16px;
					text-align: center;
				}
			}
		}
	}
}