.host-section{
	.host-section-title{
		h2{
			font-size: 32px;
		}
	}
	.welcome-container{
		width: 100%;
		.wel-block{
			position: relative;
			align-items: center;
			.icon-wel{
				width: 120px;
				height: 120px;

			}
		}
	}
}