.host-section{
	.price-container{
		width: 100%;
		.price-content{
			position: relative;
			width: 100%;
			padding: 20px;
			h2{
				font-size: 30px;
				font-weight: 600;
				margin-bottom: 20px;
			}
			figcaption{
				p{
					font-size: 20px;
				}
			}
		}
	}
}