.host-section{
	.host-info-container{
		width: 100%;
		height: 350px;
		position: relative;
		float: left;
		.info-block{
			padding: 20px;
			figure{
				width: 100%;
				height: 225px;
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}