.host-section{
	.host-start{
		position: relative;
		width: 100%;
		height: 520px;
		.title{
			width: 440px;
			height: 200px;
			position: absolute;
			left: 0;
			bottom: 20%;
			h2{
				font-size: 34px;
				font-weight: 600;
				color: #fff;
			}
			.btn-new{
				background-color: #F07478;
				border: none;
				color: #fff;
			}
		}
	}
}