.host-banner{
	position: relative;
	width: 100%;
	height: 535px;
	float: left;
	background-image: url(..\assets\images\home-making-host.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	.host-slide{
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, 30%);
		width: 100%;
		height: 350px;
		background-color: rgba($color: #000000, $alpha: .5);
		padding: 50px;
		figcaption{
			text-align: center;
			h2{
				color: #fff;
				font-size: 32px;
				font-weight: 600;
			}
			h3{
				color: #ffffff;
				font-size: 22px;
			}
		}
	}
}