.host-banner{
	position: relative;
	width: 100%;
	height: 535px;
	float: left;
	background-image: url(..\assets\images\home-making-host.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	.host-slide{
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -59%);
		width: 100%;
		height: 350px;
		background-color: rgba($color: #000000, $alpha: .5);
		figcaption{
			text-align: center;
			h3{
				color: #fff;
				font-size: 32px;
			}
			p{
				color: #fff;
				font-size: 16px;
			}
		}
	}
}