.host-section-title {
	h2 {
		font-size: 32px;
		font-weight: 600;
	}
}

.host-trust {
	position: relative;

	.trust-content {
		width: 100%;

		h3 {
			font-size: 22px;
		}
		.list-trust{
			width: 100%;
			.list-item{
				list-style: none;
			}
		}
	}
}