section.host-banner
	.container
		.row
			.col-md-6
				.swiper-container.host-slide
					.swiper-wrapper
						.swiper-slide
							figcaption
								p Đăng căn hộ khách sạn nhà nghỉ dưỡng của Quý vị trên mytravel
									|Chỉ mất 15 phút để hoàn tất đăng ký – hãy bắt đầu ngay hôm nay