section.host-banner
	.container
		.row
			.col-md-6
				.swiper-container.host-slide
					.swiper-wrapper
						.swiper-slide
							figcaption
								h3 Đăng căn hộ khách sạn nhà nghỉ dưỡng
								p của Quý vị trên mytravel
								p Chỉ mất 15 phút để hoàn tất đăng ký – hãy bắt đầu ngay hôm nay