section.host-section
	.host-section-title
		h2 Sự an tâm của Quý vị là ưu tiên hàng đầu của chúng tôi
	.host-trust
		.container
			.row
				.col-md-9
					.trust-content
						h3 Đây là cách chúng tôi giúp Quý vị tự tin hơn trong việc chào đón khách:
						ul.list-trust
							li.list-item
								svg(xmlns="http://www.w3.org/2000/svg" width="16" height="12" class="join-trust__tick")
									path(d="M3.814 7.1L.969 4.303 0 5.248 3.814 9 12 .946 11.038 0z" fill="#0AB21A" fill-rule="nonzero")
								p Chỗ của mình, quy định của mình – Chọn giá, chính sách và quy định của Quý vị cho khách
							li.list-item
								svg(xmlns="http://www.w3.org/2000/svg" width="16" height="12" class="join-trust__tick")
										path(d="M3.814 7.1L.969 4.303 0 5.248 3.814 9 12 .946 11.038 0z" fill="#0AB21A" fill-rule="nonzero")
								p Chúng tôi luôn ở bên Quý vị – Được hỗ trợ 24/7 và báo cáo các hành vi sai trái của khách
							li.list-item
								svg(xmlns="http://www.w3.org/2000/svg" width="16" height="12" class="join-trust__tick")
									path(d="M3.814 7.1L.969 4.303 0 5.248 3.814 9 12 .946 11.038 0z" fill="#0AB21A" fill-rule="nonzero")
								p Tìm vị khách lý tưởng – Đặt yêu cầu và tiêu chuẩn khách phải thỏa mãm
				.col-md-3
					.icon-trust-box
						img(src="./assets/images/icontrust.svg", alt="")