section.host-section
	.host-section-title
		h2 Đón tiếp khách theo 4 bước
	.welcome-container
		.container
			.row
				.col-md-4
					.wel-block
						.icon-wel
							figure
								img(src="./assets/images/sign-in-sign-up.png", alt="")
							figcaption
								h2 Đăng nhập hoặc đăng ký tài khoản tại mytravel
								