section.host-section
	.host-section-title
		h2 Thông tin thêm về việc đón tiếp khách
	.host-info-container
		.container
			.row
				.col-md-4
					.info-block
						figure
							a(href="")
								img(src="./assets/images/info-host.jpg", alt="")
	