section.host-section
	.host-section-title
		h2 Thông tin thêm về việc đón tiếp khách
	.host-info-container
		.container
			.row
				.col-md-4
					.info-block
						figure
							a(href="")
								img(src="./assets/images/info-host.jpg", alt="")
						figcaption
							h2 Thiết lập
							p Cách bắt đầu đón tiếp khách
							a(href="") Tìm hiểu thêm
				.col-md-4
					.info-block
						figure
							a(href="")
								img(src="./assets/images/info3.jpg", alt="")
						figcaption
							h2 Thiết lập
							p Cách bắt đầu đón tiếp khách
							a(href="") Tìm hiểu thêm
				.col-md-4
					.info-block
						figure
							a(href="")
								img(src="./assets/images/info3.jpg", alt="")
						figcaption
							h2 Thiết lập
							p Cách bắt đầu đón tiếp khách
							a(href="") Tìm hiểu thêm