section.host-section
	.host-start
		img(src="./assets/images/dbe25d99-6821-4e02-802f-fcd7aaef85bc.jpg", alt="")
		.container
			.title
				h2 Bạn đã sẵn sàng kiếm tiền?
				a(href="#")
					button.btn-new(type="submit") Bắt đầu
