section.t1-section
	.t1-container
		.container
			.host-section-title
				h2 Chúng tôi cam kết bảo vệ chủ nhà
			figcaption
				p Đăng cho thuê nhà trên Airbnb chưa bao giờ dễ dàng hơn hoặc dễ tùy chỉnh hơn. Chỉ còn vài bước nữa là bạn có thể bắt đầu kiếm tiền và tiếp cận hàng triệu khách du lịch trên toàn cầu.
				a(href="").btn
					|Bắt đầu
			