section.t1-section
	.t1-container
		.container
			.host-section-title
				h2 Chúng tôi cam kết bảo vệ chủ nhà
			figcaption
				p Chúng tôi đã thực hiện các biện pháp toàn diện để giúp đảm bảo bạn, nhà và khách của bạn được an toàn.
				a(href="").btn
					|Bắt đầu
			