section.t1-section
	.t1-container
		.container
			.host-section-title
				h2 Cách kiếm tiền trên Mytravel
			figcaption
				p Với Mytravel, hãy tận hưởng hệ thống thanh toán vận hành trơn tru, lệ phí thấp và tự do quyết định mức phí.
				a(href="").btn
					|Bắt đầu
			