section.t2-section
	.t2-container
		.container
			.row
				.form-box
					.form-group.col-12.col-md-6.col-lg-6
						form(action="")
							input.form-control(type="text", name="")
							select.form-control(name="")
								option(value="Toàn bộ nhà") Toàn bộ nhà
								option(value="Phòng riêng") Phòng riêng
								option(value="Phòng chung") Phòng chung
							select.form-control(name="")
								option(value="1 Khách") 1 Khách
								option(value="2 Khách") 2 Khách
								option(value="3 Khách") 3 Khách
								option(value="4 Khách") 4 Khách
								option(value="5 Khách") 5 Khách
								option(value="6 Khách") 6 Khách
								option(value="7 Khách") 7 Khách
								option(value="8 Khách") 8 Khách
								option(value="9 Khách") 9 Khách
								option(value="10 Khách") 10 Khách
