section.t2-section
	.t2-container
		.container
			.form-left
				.form-group
					form(action="")
						h2 Tìm hiểu về mức thu nhập bạn có thể kiếm được
						input.form-control(type="text", name="")
						select.form-control(name="")