section.host-section
	.t1-container
		.container
			.host-section-title
				h1 Cách bắt đầu đón khách
				figcaption
					p Đăng cho thuê nhà trên Airbnb chưa bao giờ dễ dàng hơn hoặc dễ tùy chỉnh hơn. Chỉ còn vài bước nữa là bạn có thể bắt đầu kiếm tiền và tiếp cận hàng triệu khách du lịch trên toàn cầu.
				a(href="").btn
					|Bắt đầu
			figure
				img(src="./assets/images/t-1.jpg", alt="")