section.t3-section
	.host-section-title
		h2 Kiểm soát cách bạn chào đón khách
	.t3-container
		.container
			.row
				.col-12.col-md-6.col-lg-6
					.t3-block
						figure
							img(src="./assets/images/watch.jpg", alt="")
						aside
							h2 Đón tiếp khách bất cứ lúc nào bạn muốn
							p Không có thời gian bắt buộc hoặc thời gian tối thiểu bạn phải cho thuê, vì vậy bạn có thể chặn những ngày bạn không cho thuê được. Bạn cũng có thể đặt ra các quy tắc về tình trạng phòng trống, bao gồm: 
								|Số đêm tối thiểu/tối đa mà khách có thể ở lại 
								|Khách có thể đặt trước bao lâu 
								|Trước khi đặt phòng, cần phải thông báo trước
				.col-12.col-md-6.col-lg-6
					.t3-block
						figure
							img(src="./assets/images/watch.jpg", alt="")
						aside
							h2 Đón tiếp khách bất cứ lúc nào bạn muốn
							p Không có thời gian bắt buộc hoặc thời gian tối thiểu bạn phải cho thuê, vì vậy bạn có thể chặn những ngày bạn không cho thuê được. Bạn cũng có thể đặt ra các quy tắc về tình trạng phòng trống, bao gồm: 
								|Số đêm tối thiểu/tối đa mà khách có thể ở lại 
								|Khách có thể đặt trước bao lâu 
								|Trước khi đặt phòng, cần phải thông báo trước
				.col-12.col-md-6.col-lg-6
					.t3-block
						figure
							img(src="./assets/images/watch.jpg", alt="")
						aside
							h2 Đón tiếp khách bất cứ lúc nào bạn muốn
							p Không có thời gian bắt buộc hoặc thời gian tối thiểu bạn phải cho thuê, vì vậy bạn có thể chặn những ngày bạn không cho thuê được. Bạn cũng có thể đặt ra các quy tắc về tình trạng phòng trống, bao gồm: 
								|Số đêm tối thiểu/tối đa mà khách có thể ở lại 
								|Khách có thể đặt trước bao lâu 
								|Trước khi đặt phòng, cần phải thông báo trước
				.col-12.col-md-6.col-lg-6
					.t3-block
						figure
							img(src="./assets/images/watch.jpg", alt="")
						aside
							h2 Đón tiếp khách bất cứ lúc nào bạn muốn
							p Không có thời gian bắt buộc hoặc thời gian tối thiểu bạn phải cho thuê, vì vậy bạn có thể chặn những ngày bạn không cho thuê được. Bạn cũng có thể đặt ra các quy tắc về tình trạng phòng trống, bao gồm: 
								|Số đêm tối thiểu/tối đa mà khách có thể ở lại 
								|Khách có thể đặt trước bao lâu 
								|Trước khi đặt phòng, cần phải thông báo trước