section.h4-sec
	.t4-container
		.container
			.row
				.col-12.col-md-6.col-lg-6
					.left-box
						figure
							img(src="./assets/images/t4-img.jpg", alt="")
				.col-12.col-md-6.col-lg-6
					.right-box
						p ''