section.h4-sec
	.host-section-title
		h2 Câu chuyện của các chủ nhà
	.t4-container
		.container
			.row
				.col-12.col-md-6.col-lg-6
					.left-box
						figure
							img(src="./assets/images/t4-img.jpg", alt="")
				.col-12.col-md-6.col-lg-6
					.right-box
						span ''
						h2 Việc bắt đầu dễ dàng hơn nhiều so với dự đoán của tôi.
						p Jonh và Ramona đón tiếp khách tại Boston để kiếm thêm tiền tích lũy dùng khi nghỉ hưu