extends _components/_layout/_layout.pug

block var
	- let title = 'An Toan';
	- let bodyClass = 'index-page';
	- let titlePosition = ['DỰ ÁN TỐT NGHIỆP'];
block banner,breadcrumb
block main
	include .\_components\an-toan\a-1.pug
	include .\_components\an-toan\a-2.pug
	include .\_components\an-toan\a-3.pug
	include .\_components\an-toan\a-4.pug
	include .\_components\an-toan\a-6.pug
	include .\_components\an-toan\a-5.pug
block scripts