extends _components/_layout/_layout.pug

block var
	- let title = 'Index';
	- let bodyClass = 'index-page';
	- let titlePosition = ['DỰ ÁN TỐT NGHIỆP'];
block banner,breadcrumb
block main
	include .\_components\index\i-1.pug
	include .\_components\index\i-2.pug
	include .\_components\index\i-3.pug
	include .\_components\index\i-4.pug
	include .\_components\index\i-5.pug
	include .\_components\index\i-6.pug
	include .\_components\index\i-7.pug
	
block scripts
