extends _components/_layout/_layout.pug

block var
	- let title = 'Tài Chính';
	- let bodyClass = 'index-page';
	- let titlePosition = ['DỰ ÁN TỐT NGHIỆP'];
block banner,breadcrumb
block main
	include .\_components\tai-chinh\tc-1.pug
	include .\_components\tai-chinh\tc-2.pug
	include .\_components\tai-chinh\tc-3.pug
	include .\_components\tai-chinh\tc-4.pug
	include .\_components\tai-chinh\tc-5.pug
block scripts