.t3-section{
	float: left;
	width: 100%;
	.t3-container{
		position: relative;
		width: 100%;
		.t3-block{
			width: 100%;
			margin-bottom: 50px;
			padding-right: 50px;
			figure{
				width: 48px;
				height: 48px;
				margin-bottom: 20px;
				img{
					width: 100%;
					height: 100%;
				}
			}
			aside{
				width: 100%;
				h2{
					font-size: 30px;
					font-weight: 600;
					color: #484848;
				}
			}
		}
	}
}