section.h1-sec
	.host-banner
		.container
			.row
				.swiper-container.host-slide.col-md-6.col-12.col-lg-6
					.swiper-wrapper
						.swiper-slide
							figcaption
								h2 Đăng căn hộ khách sạn nhà nghỉ dưỡng
								h3 của Quý vị trên mytravel
								h3 Chỉ mất 15 phút để hoàn tất đăng ký – hãy bắt đầu ngay hôm nay