section.h6-sec
	.host-section-title
		h2 Thông tin thêm về việc đón tiếp khách
	.host-info-container
		.container
			.row
				.col-md-4.col-12.col-lg-4
					.info-block
						figure
							a(href="")
								img(src="./assets/images/info-host.jpg", alt="")
						figcaption
							h2 Thiết lập
							p Cách bắt đầu đón tiếp khách
							a(href="") Tìm hiểu thêm
				.col-md-4.col-12.col-lg-4
					.info-block
						figure
							a(href="")
								img(src="./assets/images/info2.jpg", alt="")
						figcaption
							h2 An toàn
							p Mytravel bảo vệ chủ nhà như thế nào
							a(href="") Tìm hiểu thêm
				.col-md-4.col-12.col-lg-4
					.info-block
						figure
							a(href="")
								img(src="./assets/images/info3.jpg", alt="")
						figcaption
							h2 Tài chính
							p Cách kiếm tiền trên Mytravel
							a(href="") Tìm hiểu thêm